<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Kidsralright</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
<!-- >   // <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header" class="global-nav">
    <div id="top-nav">
      <div class="wrapper">
        <div class="logo">
          Kids R Alright
        </div>
        <% if user_signed_in? %>
          <div class="header-links">
            <ul class="menu">
              <li>
                <a href="">
                  <%= current_user.full_name %>
                </a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div id="app-nav">
      <div class="wrapper">
        <div id="app-menu">
          <ul>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/schedules">Schedules</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="body">
    <div class="bodywrapper">
      <%= yield %>
    </div>
  </div>

</body>
</html>
